#menu-1 .navbar-toggler {
  color: #000;
}
#msg-box3-6 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-6 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-d .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-d .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-d .mbr-section-title {
  font-size: 32px;
}
#msg-box3-f .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-f .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-f .mbr-section-title {
  font-size: 32px;
}
#msg-box3-g .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-g .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-g .mbr-section-title {
  font-size: 32px;
}
#msg-box3-h .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-h .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-h .mbr-section-title {
  font-size: 32px;
}
#msg-box3-l .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-l .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-m .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-m .mbr-header .mbr-header__subtext {
  text-align: center;
}
#testimonials1-8 .card-footer > div {
  color: #000000;
}
#testimonials1-8 .card-footer > div B {
  font-size: 20px;
}
